/* General */

ul li a {
    color: grey;
}

.showName {
    font-size: 12px;
    margin-top: 4px;
}

.ProjectClick {
    margin-top: 17px;
    margin-left: 10px;
}

/* Profiles Page */
.profileText {
    color: #808080;
}

.profileEducationDetail {
    color: #808080;
    margin-top: -12px;
}

.profile {
    position: relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1, #f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;
}

.profile .icons a {
    color: #808080;
    margin: 0 0.4rem;
}

.textSpace {
    margin-left: 10px;
}

.skillSpace {
    margin-left: 6px;
}

/* Notes Page */
.NoteDateText {
    color: #808080;
}

.NoteDateLayout {
    margin-top: 25px;
}

.NoteLabel {
    margin-left: 14px;
}

.popover {
    width: 600px;
}

.commentListWidth {
    width: 750px;
}





















