.showName {
    font-size: 12px;
    margin-top: 4px;
}

.ProjectClick {
    margin-top: 17px;
    margin-left: 10px;
}

/* Profiles Page */
.profileText {
    color: #808080;
}

.profile img {
    width: 250px;
}

.profile .icons a {
    color: #fff;
    margin: 0 0.4rem;
}

.textSpace {
    margin-left: 10px;
}

.skillSpace {
    margin-left: 6px;
}























